<template>
  <Ion-Page style="margin-top: 15%;" class="settings-main">
    <V-List-Wrapper  class="settings-list list-wrapper">
      <V-List-Section-Header>Worktime</V-List-Section-Header>
      <V-List-Item class="list-item relative text-light card-radius" v-for="item in settings_conf" :key="item"
        @click="item.payload">
        <div class="list-item-icon">
          <Svg-Icon type="mdi" :path="mdiCogOutline"></Svg-Icon>
        </div>
        <div class="list-item-text">{{ item.title }}</div>
      </V-List-Item>
    </V-List-Wrapper>
  </Ion-Page>
</template>

<script lang="ts" setup>
import { mdiCogOutline } from "@mdi/js";
import { useRouter, Router } from "vue-router";
const router: Router = useRouter();
let settings_conf = [
  {
    title: "Arbeitszeit festlegen",
    payload: () => {
      router.push("/settings/set-daily-worktime");
    },
  },
];
</script>

<style scoped>
.settings-main {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  grid-area: "header" "list";
  padding-bottom: 15%;
}
</style>
