<template>
  <div class="section-header width-full text-greengradient"> <span>
      <slot> </slot>
    </span></div>
</template>

<style scoped>
.section-header {
  align-self: center;
  justify-self: flex-start;
  display: flex;
  justify-content: flex-start;
}
</style>
