<template>
  <ul :style="{gap:gap,height:height,flexDirection:flexDirection}" class="list-wrapper">
    <slot></slot>
  </ul>
</template>


<script lang="ts" setup>
import { defineProps, withDefaults } from 'vue'


export interface Props {
  color?: string
  justify?: string
  classes?: string,
  gap?: string,
  height?: string
  flexDirection?: string
}
const props = withDefaults(defineProps<Props>(), {
  color: '',
  justify: 'flex-start',
  gap: '1em',
  classes: '',
  height: '100%',
  flexDirection: 'column'
})



</script>

<style scoped>
.list-wrapper {
  display: flex;
  gap: 1em;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 5%;

}
</style>
