<template>

  <li ref="list_item" :style="{
  justifyContent:justify,
  color:color,
  background:background,
  width:width,
  height:height,
  transition,
  flexDirection

  
  }" :class="`list-item relative text-light card-radius  ${classes}`">

   
      <slot></slot>
    
    <!-- <Svg-Icon @click="emit('delete')" class="align-self-end" type="mdi" :path="mdiDelete"></Svg-Icon> -->
  </li>
  <!-- <div class="underlayer width-content" tabindex="99">
    <div class="option relative flex justify-content-center">
      <V-Button type="text">
        <Svg-Icon type="mdi" color="var(--turkis)" :path="mdiNoteEditOutline"></Svg-Icon>
      </V-Button>
    </div>
    <div class="option relative flex justify-content-center">
      <V-Button type="text">
        <Svg-Icon type="mdi" color="purple" :path="mdiDeleteOutline"></Svg-Icon>
      </V-Button>
    </div>
  </div> -->
</template>

<script lang="ts" setup>
import { defineProps, defineEmits, withDefaults, ref, Ref, onMounted } from 'vue'
import { createGesture } from '@ionic/core';
import { mdiDeleteOutline, mdiNoteEditOutline } from '@mdi/js';
import { GestureCallback, GestureConfig, GestureDetail } from '@ionic/core/dist/types/utils/gesture';


export interface Props {
  color?: string
  justify?: string,
  background?: string,
  height?: string
  width?: string,
  classes?: string
  swipable?: boolean
  flexDirection?: string

}
const props = withDefaults(defineProps<Props>(), {
  color: '',
  justify: 'center',
  background: '',
  width: '100%',
  swipable: false,
   flexDirection: 'row'
})

const emit = defineEmits(['delete'])

const transitionOrig = 'all 0.3s ease'
let transition: Ref<string> = ref(transitionOrig)

const list_item: Ref<HTMLElement> = ref()


// let transitions = ''

function onStart(detail: GestureDetail) {
  transition.value = ''
}
function onMove(detail: GestureDetail) {
  const x: number = detail.deltaX
  console.log(detail)

  if (x < 75 && x > -75) {
    //  transitions = list_item.value.style.transition
    //   list_item.value.style.transition = ''
    list_item.value.style.translate = `${detail.deltaX}px`

  }

}
function onEnd(detail: GestureDetail) {
  transition.value = transitionOrig
  const x: number = detail.deltaX
  const velocity: number = detail.velocityX
  if (velocity < -0.1) {

    list_item.value.style.translate = `${-75}px`
    return
  }
  else if (velocity > 0.1) {
    list_item.value.style.translate = `${75}px`
    return
  }


  console.log(detail.velocityX)
  if (x > 49) { list_item.value.style.translate = `${75}px` }
  else if (x < -49) {
    list_item.value.style.translate = `${-75}px`
  }
  else if (x < 49 && x > -49) {
    list_item.value.style.translate = `${0}px`
  }
  // list_item.value.style.transition = transitions
}
function createListItemGesture(el: HTMLElement) {
  createGesture({
    el,
    gestureName: 'swipe-listitem',
    direction: 'x',
    disableScroll: true,
    onStart,
    onMove,
    onEnd,
    threshold: 5.0, passive: true
  }).enable()
}

onMounted(() => {
  if (props.swipable) { createListItemGesture(list_item.value) }
})
</script>

<style scoped>
.list-item {
  list-style: none;
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  gap: 1em;
  isolation: isolate;
}

.moved {
  transform: translateX(-50%);
}

.main {
  z-index: 3;
}

.underlayer {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
}

.option {
  width: 13em
}
</style>
