<template>
  <div style="padding: 5%" class="relative full flex justify-items-center flex-direction-colum overflow-y">
    <form class="v-form flex gap-35 flex-direction-colum full relative" @submit.prevent="submit">
      <label for=" time">set your worktime</label>
      <div class="flex gap-25 justify-content-center align-items-center">

        <Ion-Datetime required class="card" @ionChange="changeFrom" color="success" presentation="time">
        </Ion-Datetime> :
        <Ion-Datetime required class="card" @ionChange="changeTill" color="success" presentation="time"></Ion-Datetime>
      </div>

      <!-- <V-Double-Button @cancel="log" @submit="log"></V-Double-Button> -->
      <V-Double-Button style="align-self: flex-end;color: white;" @cancel="$router.go(-1)" :cancelTitle="'cancel'"
        :submitTitle="'Add Hours'">
      </V-Double-Button>
      <V-List-Wrapper gap="2.1em" height="135px" flexDirection="column">
        <transition-group>


          <V-Observe height="79%" width="50%" v-for="(item,i) in availableTimeStamps" :key="i">
            <V-List-Item  background="var(--redblue-gradient)"  class="shadow-filter" height="100%" width="100%" color="white"
            justify="center">
              <V-Badge :title="item.total"></V-Badge>
              <span>{{datetime.getFormattedTime(item.from)}}</span> -
              <span>{{datetime.getFormattedTime(item.till)}}</span>
            </V-List-Item>
          </V-Observe>
        </transition-group>
      </V-List-Wrapper>


      <V-Button @click="saveAll()" title="Save"></V-Button>
    </form>


  </div>
</template>
<script lang="ts" setup>
import { ref, Ref } from "vue";
import { IonDatetime } from '@ionic/vue';
import { useDateTimeStore } from '../../../stores/datetime.store'
import { useWorktimeStore } from '../../../stores/worktime.store'

import { IonDatetimeCustomEvent, DatetimeChangeEventDetail } from "@ionic/core/components";
import { WorktimeEntrie, } from '@/interfaces/worktime.interfaces'


const datetime = useDateTimeStore()
const worktimeStore = useWorktimeStore()
console.log(worktimeStore.getWorkedTime)

const addedTimestamps: Ref<Array<WorktimeEntrie>> = ref([])
const availableTimeStamps: Ref<Array<WorktimeEntrie>> = ref([...addedTimestamps.value, ...worktimeStore.getEntries])
console.log(worktimeStore.getEntries)


let fromTmp: Ref = ref(datetime.getIsoString);
let tillTmp: Ref = ref(datetime.getIsoString);

function changeFrom(event: IonDatetimeCustomEvent<DatetimeChangeEventDetail>) {
  // let from_tmp = `${nrToStr(new Date(event.detail.value as any).getHours())}:${nrToStr(new Date(event.detail.value as any).getMinutes())}`
  // if (from_tmp == '0') {
  //   from_tmp = '00:00'
  // }
  // fromTmp.value = from_tmp


  fromTmp.value = event.detail.value
  console.log(fromTmp.value)
}

function changeTill(event: IonDatetimeCustomEvent<DatetimeChangeEventDetail>) {
  // let till_tmp = `${nrToStr(new Date(event.detail.value as any).getHours())}:${nrToStr(new Date(event.detail.value as any).getMinutes())}`
  // if (till_tmp == '0') {
  //   till_tmp = '00:00'
  // }
  // tillTmp.value = till_tmp
  tillTmp.value = event.detail.value
  console.log(tillTmp.value)
}
function saveAll() {

  if (addedTimestamps.value.length < 1) return
  worktimeStore.addEntries(addedTimestamps.value)
  addedTimestamps.value = []
  console.log(worktimeStore.getEntries)
  availableTimeStamps.value = [...addedTimestamps.value, ...worktimeStore.getEntries]
}
function submit(event: Event) {


  const timeStamp: WorktimeEntrie = {
    created: datetime.getIsoString,
    updated: datetime.getIsoString,
    from: fromTmp.value,
    till: tillTmp.value,
    total: ''
  }
  if (!datetime.getTimeDiff(timeStamp.from, timeStamp.till)) {
    alert('The time you started from has to be before the time you stopped.');
    return
  }
  timeStamp.total = datetime.getTimeDiff(timeStamp.from, timeStamp.till)

  if (timeStamp.from == timeStamp.till) return
  // if (timeStamp.from == '00:00' && timeStamp.till == '00:00' || timeStamp.from == '0' && timeStamp.till == '0') {
  //   return
  // }
  // else if (timeStamp.from == '0' && timeStamp.till !== '0') {
  //   timeStamp.from = '00:00'
  // } else if (timeStamp.till == '0' && timeStamp.from !== '0') {
  //   timeStamp.till = '00:00'
  // }
  console.log(timeStamp.from, timeStamp.till)
  console.log(datetime.getTimeDiff(timeStamp.from, timeStamp.till))
  addedTimestamps.value.push(timeStamp)
  availableTimeStamps.value = [...addedTimestamps.value, ...worktimeStore.getEntries]
  fromTmp.value = datetime.getIsoString
  tillTmp.value = datetime.getIsoString
}

</script>

<style scoped>

</style>
