<template>
  <Ion-Page class="homepage-wrapper relative full">
    <div class="date-changer">
      <The-Date-Changer></The-Date-Changer>
    </div>
   
  
    <div class="actual-data-card glas-card card relative full">
      <div class="actual-header font-xxlarge">

        <span class="text-greengradient"> {{}} :
          {{}}</span>
        <div class="divider-row card-radius"></div>
        <span class="text-redgradient">{{}} :
          {{}}</span>
      </div>
      <div class="buttons relative full">
        <div class="option" v-for="(option, i) in 5" :key="i">
          <Svg-Icon type="mdi" :path="mdiPlus" color="white"></Svg-Icon>
        </div>
      </div>


    </div>
   
    <V-List-Wrapper>
      <V-List-Item swipable justify="center" background="var(--redblue-gradient)" color="white"  classes="relative full shadow-filter" height="75px"  v-for="(item,i) in data" :key="i">{{datetime.getFormattedTime( item.from)}} - {{datetime.getFormattedTime(item.till)}}
    <V-Badge :title="item.total"></V-Badge>
      </V-List-Item>
    </V-List-Wrapper>
    <!-- <div class="history relative full"></div> -->
    <div class="todos">
      <ol>
        <li>//TODO Arbeitszeit eintragbar</li>
        <li>//TODO Aktuelle Arbeitszeit sichtbar</li>
        <li>//TODO Arbeitszeit Dashboad ansichten</li>
        //TODO
      </ol>
    </div>
  </Ion-Page>
</template>

<script lang="ts" setup>
import { ref, Ref } from "vue";
import { useWorktimeStore } from '../stores/worktime.store'
import { useDateTimeStore } from '../stores/datetime.store'
import { mdiPlus } from "@mdi/js";
import { WorktimeEntrie } from "@/interfaces/worktime.interfaces";

function validateNumberToString(n: number) {
  if (n < 10) {
    return `0${n}`
  }
  return n
}



const worktimeStore = useWorktimeStore()
const datetime = useDateTimeStore()

const data: Ref<Array<WorktimeEntrie>> = ref(worktimeStore.getEntries)

  const workedToday= worktimeStore.getWorkedTime

</script>

<style scoped>
.homepage-wrapper {
  display: grid;
  grid-template-rows: 15% 5% 13% 50% 25%;
  grid-template-columns: 100%;
  /* grid-template-columns: 100%; */
  gap: 3%;
  grid-template-areas:
    "date"
    "history1"
    "history2"
    "history3"
    "todos";
  justify-content: center;
  align-items: center;
  padding: 0 3%;
}

.date-changer {
  grid-area: date;
}

.history {
  grid-row-start: history2;
  grid-row-end: history3;
  background: var(--bg-greengradient);
  grid-column: 1;
}

.history::after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 90%);
  width: 100%;
  height: 5em;
}

.history::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  top: 0;
  pointer-events: none;
  background-image: linear-gradient(to top,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 90%);
  width: 100%;
  height: 5em;
}

.todos {}

.actual-data-card {
  grid-row-start: history1;
  grid-row-end: history2;
  grid-column: 1;
  z-index: 3;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.actual-header {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  align-items: flex-end;
}
</style>
