<template>
  <div class="date-picker-main">
    <div class="actual-date">
      <div class="date">
        {{ chosen_date_object.toDateString() }}
      </div>
    </div>
    <div class="date-options-inner">
      <div
        @click="changeDay(day, i)"
        ref="day"
        class="day"
        v-for="(day, i) in days"
        :key="i"
      >
        <div class="day-nr">{{ day.day }}</div>
        <div class="day-letter">{{ day.title }}</div>
      </div>
      <div ref="date_indicator" class="date-indicator shadow-filter"></div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
export default defineComponent({
  data() {
    return {
      days: [
        { title: "S" },
        { title: "M" },
        { title: "D" },
        { title: "M" },
        { title: "D" },
        { title: "F" },
        { title: "S" },
      ],
      active_day: new Date().getDay(),
      chosen_date: new Date().toDateString(),
    };
  },
  computed: {
    chosen_date_object() {
      return new Date(this.chosen_date);
    },
  },
  methods: {
    changeDay(day_data, day_refs_index) {
      const day = this.$refs.day[day_refs_index];
      const col_width = day.offsetWidth;
      const col_offset_left = day.offsetLeft;
      const indicator = this.$refs["date_indicator"];
      const full_date = day_data.full_date;

      this.chosen_date = full_date;
      this.$emit("date-change", full_date);

      indicator.style.width = `${col_width}px`;
      indicator.style.transform = `translateX(${col_offset_left}px)`;
      // this.$anime({
      //   targets: indicator,
      //   translateX: col_left_offset,
      //   width: col_width,
      // });
    },
    calculate_actual_week_days() {
      const date_object = this.chosen_date_object;

      const today_day = date_object.getDay() + 1;

      let days_before_today = 0;
      let days_after_today = 0;
      for (let i = 0; i < today_day; i++) {
        days_before_today += 1;
      }
      for (let j = today_day; j < 7; j++) {
        days_after_today += 1;
      }

      const new_days = [];
      for (let i = 0; i < days_after_today; i++) {
        if (date_object.getDate() - i == 0) {
          const month = date_object.getMonth();
          const year = date_object.getFullYear();
          const new_date = new Date(year, month, 0).toDateString();

          const new_date_array = new_date.split(" ");
          const new_day_letter = new_date_array[0];
          const new_date_nr = new_date_array[2];
          new_days[i] = {
            title: new_day_letter,
            day: new_date_nr,
            full_date: new_date,
          };
        } else {
          const date = date_object.toDateString();

          let date_array = date.split(" ");

          date_array[2] = parseInt(date_array[2]) + (i + 1);

          const new_date = new Date(date_array.join(" "));

          const new_date_array = new_date.toDateString().split(" ");
          const new_day_letter = new_date_array[0];
          const new_date_nr = new_date_array[2];

          new_days[i] = {
            title: new_day_letter,
            day: new_date_nr,
            full_date: new_date,
          };
        }
      }

      if (days_before_today > 0) {
        for (let i = 0; i < days_before_today; i++) {
          const date = date_object.toDateString();

          let date_array = date.split(" ");

          date_array[2] = parseInt(date_array[2]) - i;

          const new_date = new Date(date_array.join(" "));

          const new_date_array = new_date.toDateString().split(" ");

          const new_day_letter = new_date_array[0];
          const new_date_nr = new_date_array[2];

          new_days.unshift({
            title: new_day_letter,
            day: new_date_nr,
            full_date: new_date,
          });
        }
      }
      this.days = new_days;
    },
    initialize() {
      this.calculate_actual_week_days();

      const col = this.$refs.day[this.active_day];
      const col_offset_left = col.offsetLeft;
      const col_width = col.offsetWidth;
      const col_height = col.offsetHeight;

      const indicator = this.$refs["date_indicator"];

      indicator.style.width = `${col_width}px`;
      indicator.style.height = `${col_height}px`;
      indicator.style.transform = `translateX(${col_offset_left}px)`;
      // indicator.style.background = "#b278f3";
      indicator.style["border-radius"] = "9px";
      // this.$anime({
      //   targets: indicator,
      //   width: col_width,
      //   height: col_height,
      //   translateX: col_offset_left,
      //   borderRadius: 9,
      //   background: "#B39DDB",
      // });
    },
  },
  mounted() {
    this.initialize();
  },
  // updated() {
  //   this.initialize();
  // },
});
</script>

<style>
.date-picker-main {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 7%;
  display: grid;
  grid-template-rows: 39% 61%;
  grid-template-columns: 100%;
  gap: 19%;
}
.date-picker-main .actual-date {
  margin: 3%;
}
.date-options-inner {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 11%);
  grid-template-rows: 45px;
  justify-content: center;
  gap: 5%;
}
.date-options-inner .day {
  position: relative;
  height: 100%;
  width: 100%;
  font-weight: 451;
  font-size: 75%;
  color: rgb(255, 255, 255);
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date-options-inner .day .day-letter {
  color: grey;
  font-weight: 300;
  font-size: 79%;
}

.date-options-inner .day .day-nr {
  font-weight: 451;
  font-size: 100%;
  color: rgb(0, 0, 0);
}

.date-options-inner .date-indicator {
  position: absolute;
  z-index: -1;
  border-radius: 9;
  transition: 0.5s all ease-in-out;
  background: var(--bg-greengradient);
  /* box-shadow: var(--shadow-greengradient); */
  /* animation: blob 5s ease-in-out infinite */
}

@keyframes blob {
  0% {
    border-radius: 57% 43% 70% 30% / 44% 73% 27% 56%;
  }
  25% {
    border-radius: 68% 33% 63% 37% / 27% 51% 49% 75%;
  }
  51% {
    border-radius: 51% 51% 33% 67% / 43% 55% 47% 57%;
  }
  75% {
    border-radius: 68% 32% 63% 37% / 26% 51% 49% 75%;
  }
  100% {
    border-radius: 69% 31% 63% 37% / 27% 51% 49% 75%;
  }
}
.shadow {
  overflow: visible !important;
}
.shadow::before {
  position: absolute !important;
  z-index: -1 !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: inherit;
  right: 0%;
  top: 19.1%;
  content: "";
  background: inherit !important;
  filter: blur(7px);
  opacity: 1px;
}
.actual-date {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  right: 7%;
}
</style>
