<template>
  <div class="navigation-wrapper">
    <div  ref="navigation_button" @click="collapse_navigation()"
      class="toggle-navigation-button">
      <transition-group name="fade" mode="out-in">
        <svg v-if="collapsed" viewBox="0 0 100 91" width="55" height="33">
          <rect ref="menu_icon_rect_first" class="menu-icon-rect" width="31" x="-15" height="9" rx="7" ry="7"></rect>
          <rect ref="menu_icon_rect_second" class="menu-icon-rect" y="25" x="7%" width="55" height="9" rx="7" ry="7">
          </rect>
          <rect ref="menu_icon_rect_third" class="menu-icon-rect" y="51" x="49" width="31" height="9" rx="7" ry="7">
          </rect>
        </svg>
        <div v-else>
          <Svg-Icon type="mdi" :path="mdiClose" color="grey"></Svg-Icon>
        </div>

      </transition-group>
    </div>
    <!-- <transition name="fade">
      <div v-if="!$route.meta.navigation" class="toggle-navigation-button" @click="$router.go(-1)">
        <Svg-Icon color="grey" type="mdi" :path="mdiArrowLeft"></Svg-Icon>
      </div>
    </transition> -->
    <div ref="navigation_main" class="navigation-main collapsed">
      <div class="navigation-header">
        <svg width="178" height="39" viewBox="0 0 178 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_1_32)">
            <rect x="31" y="27" width="21" height="5" rx="2.5" fill="#C1BFA6" />
          </g>
          <g filter="url(#filter1_d_1_32)">
            <rect x="10" y="16" width="36" height="5" rx="2.5" fill="#B6CEB3" />
          </g>
          <g filter="url(#filter2_d_1_32)">
            <rect x="4" y="4" width="21" height="5" rx="2.5" fill="white" />
            <rect x="4" y="4" width="21" height="5" rx="2.5" fill="#A3AAE1" />
          </g>
          <path
            d="M66.608 26C66.416 26 66.26 25.944 66.14 25.832C66.028 25.712 65.972 25.564 65.972 25.388V18.212C65.972 18.036 66.032 17.892 66.152 17.78C66.272 17.66 66.416 17.6 66.584 17.6H70.64C70.816 17.6 70.96 17.656 71.072 17.768C71.192 17.88 71.252 18.02 71.252 18.188C71.252 18.34 71.192 18.472 71.072 18.584C70.96 18.696 70.816 18.752 70.64 18.752H67.136L67.22 18.632V21.308L67.148 21.164H70.1C70.276 21.164 70.42 21.22 70.532 21.332C70.652 21.444 70.712 21.584 70.712 21.752C70.712 21.904 70.652 22.036 70.532 22.148C70.42 22.26 70.276 22.316 70.1 22.316H67.124L67.22 22.22V25.388C67.22 25.564 67.16 25.712 67.04 25.832C66.92 25.944 66.776 26 66.608 26ZM73.7297 25.388C73.7297 25.564 73.6737 25.712 73.5617 25.832C73.4497 25.944 73.3057 26 73.1297 26C72.9617 26 72.8177 25.944 72.6977 25.832C72.5857 25.712 72.5297 25.564 72.5297 25.388V20.252C72.5297 20.076 72.5857 19.932 72.6977 19.82C72.8177 19.7 72.9617 19.64 73.1297 19.64C73.3057 19.64 73.4497 19.7 73.5617 19.82C73.6737 19.932 73.7297 20.076 73.7297 20.252V25.388ZM73.1177 18.848C72.8857 18.848 72.7177 18.808 72.6137 18.728C72.5097 18.64 72.4577 18.496 72.4577 18.296V18.104C72.4577 17.904 72.5137 17.764 72.6257 17.684C72.7377 17.604 72.9057 17.564 73.1297 17.564C73.3697 17.564 73.5417 17.608 73.6457 17.696C73.7497 17.776 73.8017 17.912 73.8017 18.104V18.296C73.8017 18.504 73.7457 18.648 73.6337 18.728C73.5297 18.808 73.3577 18.848 73.1177 18.848ZM78.5959 19.544C79.1639 19.544 79.6039 19.664 79.9159 19.904C80.2279 20.136 80.4439 20.452 80.5639 20.852C80.6919 21.244 80.7559 21.684 80.7559 22.172V25.388C80.7559 25.564 80.6959 25.712 80.5759 25.832C80.4639 25.944 80.3239 26 80.1559 26C79.9799 26 79.8359 25.944 79.7239 25.832C79.6119 25.712 79.5559 25.564 79.5559 25.388V22.184C79.5559 21.896 79.5159 21.64 79.4359 21.416C79.3559 21.184 79.2159 21 79.0159 20.864C78.8239 20.72 78.5519 20.648 78.1999 20.648C77.8719 20.648 77.5839 20.72 77.3359 20.864C77.0879 21 76.8919 21.184 76.7479 21.416C76.6119 21.64 76.5439 21.896 76.5439 22.184V25.388C76.5439 25.564 76.4839 25.712 76.3639 25.832C76.2519 25.944 76.1119 26 75.9439 26C75.7679 26 75.6239 25.944 75.5119 25.832C75.3999 25.712 75.3439 25.564 75.3439 25.388V20.3C75.3439 20.124 75.3999 19.98 75.5119 19.868C75.6239 19.748 75.7679 19.688 75.9439 19.688C76.1119 19.688 76.2519 19.748 76.3639 19.868C76.4839 19.98 76.5439 20.124 76.5439 20.3V20.972L76.3279 21.092C76.3839 20.916 76.4799 20.74 76.6159 20.564C76.7599 20.38 76.9319 20.212 77.1319 20.06C77.3319 19.9 77.5559 19.776 77.8039 19.688C78.0519 19.592 78.3159 19.544 78.5959 19.544ZM87.594 19.592C87.77 19.592 87.914 19.652 88.026 19.772C88.138 19.884 88.194 20.028 88.194 20.204V25.388C88.194 25.564 88.138 25.712 88.026 25.832C87.914 25.944 87.77 26 87.594 26C87.426 26 87.282 25.944 87.162 25.832C87.05 25.712 86.994 25.564 86.994 25.388V24.524L87.246 24.56C87.246 24.704 87.186 24.864 87.066 25.04C86.954 25.216 86.798 25.388 86.598 25.556C86.398 25.716 86.162 25.852 85.89 25.964C85.618 26.068 85.326 26.12 85.014 26.12C84.462 26.12 83.966 25.98 83.526 25.7C83.086 25.412 82.738 25.02 82.482 24.524C82.226 24.028 82.098 23.464 82.098 22.832C82.098 22.184 82.226 21.616 82.482 21.128C82.738 20.632 83.082 20.244 83.514 19.964C83.954 19.684 84.442 19.544 84.978 19.544C85.322 19.544 85.638 19.6 85.926 19.712C86.222 19.824 86.478 19.968 86.694 20.144C86.91 20.32 87.074 20.508 87.186 20.708C87.306 20.9 87.366 21.084 87.366 21.26L86.994 21.296V20.204C86.994 20.036 87.05 19.892 87.162 19.772C87.282 19.652 87.426 19.592 87.594 19.592ZM85.146 25.016C85.522 25.016 85.854 24.92 86.142 24.728C86.43 24.536 86.654 24.276 86.814 23.948C86.974 23.612 87.054 23.24 87.054 22.832C87.054 22.416 86.974 22.044 86.814 21.716C86.654 21.388 86.43 21.128 86.142 20.936C85.854 20.744 85.522 20.648 85.146 20.648C84.778 20.648 84.45 20.744 84.162 20.936C83.882 21.128 83.658 21.388 83.49 21.716C83.33 22.044 83.25 22.416 83.25 22.832C83.25 23.24 83.33 23.612 83.49 23.948C83.658 24.276 83.882 24.536 84.162 24.728C84.45 24.92 84.778 25.016 85.146 25.016ZM93.1272 19.544C93.6952 19.544 94.1352 19.664 94.4472 19.904C94.7592 20.136 94.9752 20.452 95.0952 20.852C95.2232 21.244 95.2872 21.684 95.2872 22.172V25.388C95.2872 25.564 95.2272 25.712 95.1072 25.832C94.9952 25.944 94.8552 26 94.6872 26C94.5112 26 94.3672 25.944 94.2552 25.832C94.1432 25.712 94.0872 25.564 94.0872 25.388V22.184C94.0872 21.896 94.0472 21.64 93.9672 21.416C93.8872 21.184 93.7472 21 93.5472 20.864C93.3552 20.72 93.0832 20.648 92.7312 20.648C92.4032 20.648 92.1152 20.72 91.8672 20.864C91.6192 21 91.4232 21.184 91.2792 21.416C91.1432 21.64 91.0752 21.896 91.0752 22.184V25.388C91.0752 25.564 91.0152 25.712 90.8952 25.832C90.7832 25.944 90.6432 26 90.4752 26C90.2992 26 90.1552 25.944 90.0432 25.832C89.9312 25.712 89.8752 25.564 89.8752 25.388V20.3C89.8752 20.124 89.9312 19.98 90.0432 19.868C90.1552 19.748 90.2992 19.688 90.4752 19.688C90.6432 19.688 90.7832 19.748 90.8952 19.868C91.0152 19.98 91.0752 20.124 91.0752 20.3V20.972L90.8592 21.092C90.9152 20.916 91.0112 20.74 91.1472 20.564C91.2912 20.38 91.4632 20.212 91.6632 20.06C91.8632 19.9 92.0872 19.776 92.3352 19.688C92.5832 19.592 92.8472 19.544 93.1272 19.544ZM99.7493 19.544C100.181 19.544 100.565 19.592 100.901 19.688C101.237 19.776 101.497 19.904 101.681 20.072C101.873 20.232 101.969 20.42 101.969 20.636C101.969 20.772 101.929 20.9 101.849 21.02C101.769 21.132 101.649 21.188 101.489 21.188C101.377 21.188 101.281 21.168 101.201 21.128C101.129 21.088 101.061 21.04 100.997 20.984C100.933 20.928 100.853 20.872 100.757 20.816C100.669 20.768 100.537 20.728 100.361 20.696C100.193 20.664 100.041 20.648 99.9053 20.648C99.4813 20.648 99.1133 20.744 98.8013 20.936C98.4973 21.128 98.2573 21.388 98.0813 21.716C97.9133 22.044 97.8293 22.416 97.8293 22.832C97.8293 23.248 97.9133 23.62 98.0813 23.948C98.2573 24.276 98.4933 24.536 98.7893 24.728C99.0933 24.92 99.4453 25.016 99.8453 25.016C100.085 25.016 100.281 25 100.433 24.968C100.585 24.928 100.717 24.88 100.829 24.824C100.949 24.752 101.049 24.68 101.129 24.608C101.217 24.528 101.337 24.488 101.489 24.488C101.665 24.488 101.797 24.544 101.885 24.656C101.981 24.76 102.029 24.892 102.029 25.052C102.029 25.228 101.921 25.4 101.705 25.568C101.497 25.728 101.217 25.86 100.865 25.964C100.513 26.068 100.125 26.12 99.7013 26.12C99.0773 26.12 98.5333 25.976 98.0693 25.688C97.6133 25.4 97.2573 25.008 97.0013 24.512C96.7533 24.016 96.6293 23.456 96.6293 22.832C96.6293 22.2 96.7613 21.64 97.0253 21.152C97.2893 20.656 97.6573 20.264 98.1293 19.976C98.6013 19.688 99.1413 19.544 99.7493 19.544ZM106.116 26.12C105.452 26.12 104.876 25.984 104.388 25.712C103.9 25.432 103.52 25.052 103.248 24.572C102.984 24.084 102.852 23.528 102.852 22.904C102.852 22.2 102.992 21.6 103.272 21.104C103.56 20.6 103.932 20.216 104.388 19.952C104.844 19.68 105.328 19.544 105.84 19.544C106.232 19.544 106.604 19.624 106.956 19.784C107.308 19.936 107.62 20.152 107.892 20.432C108.172 20.704 108.392 21.028 108.552 21.404C108.712 21.772 108.796 22.176 108.804 22.616C108.796 22.776 108.732 22.908 108.612 23.012C108.492 23.116 108.352 23.168 108.192 23.168H103.524L103.236 22.148H107.748L107.52 22.364V22.064C107.504 21.784 107.412 21.54 107.244 21.332C107.076 21.116 106.868 20.952 106.62 20.84C106.372 20.72 106.112 20.66 105.84 20.66C105.6 20.66 105.368 20.7 105.144 20.78C104.928 20.852 104.732 20.972 104.556 21.14C104.388 21.308 104.252 21.532 104.148 21.812C104.052 22.084 104.004 22.424 104.004 22.832C104.004 23.272 104.096 23.656 104.28 23.984C104.464 24.312 104.712 24.568 105.024 24.752C105.336 24.928 105.68 25.016 106.056 25.016C106.352 25.016 106.596 24.988 106.788 24.932C106.98 24.868 107.14 24.792 107.268 24.704C107.396 24.616 107.508 24.532 107.604 24.452C107.724 24.38 107.844 24.344 107.964 24.344C108.108 24.344 108.228 24.396 108.324 24.5C108.42 24.596 108.468 24.712 108.468 24.848C108.468 25.024 108.38 25.184 108.204 25.328C107.988 25.536 107.688 25.72 107.304 25.88C106.928 26.04 106.532 26.12 106.116 26.12ZM109.788 25.016C109.716 24.904 109.684 24.776 109.692 24.632C109.7 24.48 109.784 24.352 109.944 24.248C110.056 24.176 110.172 24.148 110.292 24.164C110.42 24.172 110.54 24.232 110.652 24.344C110.876 24.592 111.124 24.788 111.396 24.932C111.676 25.076 112.012 25.148 112.404 25.148C112.564 25.14 112.728 25.116 112.896 25.076C113.064 25.028 113.208 24.948 113.328 24.836C113.448 24.716 113.508 24.544 113.508 24.32C113.508 24.12 113.444 23.96 113.316 23.84C113.188 23.72 113.02 23.624 112.812 23.552C112.604 23.472 112.38 23.4 112.14 23.336C111.884 23.264 111.624 23.184 111.36 23.096C111.104 23.008 110.872 22.896 110.664 22.76C110.456 22.616 110.284 22.432 110.148 22.208C110.02 21.984 109.956 21.708 109.956 21.38C109.956 21.004 110.06 20.68 110.268 20.408C110.484 20.136 110.76 19.924 111.096 19.772C111.44 19.62 111.812 19.544 112.212 19.544C112.444 19.544 112.688 19.576 112.944 19.64C113.2 19.696 113.448 19.788 113.688 19.916C113.928 20.044 114.136 20.212 114.312 20.42C114.392 20.524 114.436 20.648 114.444 20.792C114.46 20.936 114.396 21.064 114.252 21.176C114.156 21.256 114.04 21.292 113.904 21.284C113.768 21.276 113.656 21.232 113.568 21.152C113.416 20.96 113.22 20.812 112.98 20.708C112.74 20.596 112.468 20.54 112.164 20.54C112.012 20.54 111.852 20.564 111.684 20.612C111.524 20.652 111.388 20.728 111.276 20.84C111.164 20.952 111.108 21.116 111.108 21.332C111.108 21.532 111.172 21.692 111.3 21.812C111.436 21.932 111.612 22.032 111.828 22.112C112.044 22.192 112.28 22.264 112.536 22.328C112.784 22.392 113.028 22.468 113.268 22.556C113.516 22.644 113.736 22.76 113.928 22.904C114.128 23.04 114.288 23.22 114.408 23.444C114.536 23.66 114.6 23.936 114.6 24.272C114.6 24.664 114.484 25 114.252 25.28C114.028 25.552 113.74 25.76 113.388 25.904C113.044 26.048 112.68 26.12 112.296 26.12C111.84 26.12 111.384 26.04 110.928 25.88C110.48 25.712 110.1 25.424 109.788 25.016ZM116.287 22.892C116.119 22.892 115.975 22.836 115.855 22.724C115.743 22.604 115.687 22.46 115.687 22.292C115.687 22.116 115.743 21.976 115.855 21.872C115.975 21.76 116.119 21.704 116.287 21.704H118.543C118.711 21.704 118.855 21.764 118.975 21.884C119.095 21.996 119.155 22.14 119.155 22.316C119.155 22.476 119.095 22.612 118.975 22.724C118.855 22.836 118.711 22.892 118.543 22.892H116.287ZM121.369 17.588C121.465 17.588 121.565 17.612 121.669 17.66C121.773 17.708 121.853 17.776 121.909 17.864L124.957 22.508L124.441 22.484L127.549 17.864C127.677 17.68 127.841 17.588 128.041 17.588C128.201 17.588 128.341 17.648 128.461 17.768C128.589 17.88 128.653 18.024 128.653 18.2V25.388C128.653 25.564 128.597 25.712 128.485 25.832C128.373 25.944 128.225 26 128.041 26C127.849 26 127.693 25.944 127.573 25.832C127.461 25.712 127.405 25.564 127.405 25.388V19.304L127.789 19.388L125.149 23.408C125.093 23.48 125.021 23.544 124.933 23.6C124.845 23.648 124.753 23.668 124.657 23.66C124.569 23.668 124.477 23.648 124.381 23.6C124.293 23.544 124.221 23.48 124.165 23.408L121.621 19.448L121.909 18.968V25.388C121.909 25.564 121.853 25.712 121.741 25.832C121.637 25.944 121.497 26 121.321 26C121.153 26 121.013 25.944 120.901 25.832C120.797 25.712 120.745 25.564 120.745 25.388V18.2C120.745 18.032 120.805 17.888 120.925 17.768C121.053 17.648 121.201 17.588 121.369 17.588ZM135.653 19.592C135.829 19.592 135.973 19.652 136.085 19.772C136.197 19.884 136.253 20.028 136.253 20.204V25.388C136.253 25.564 136.197 25.712 136.085 25.832C135.973 25.944 135.829 26 135.653 26C135.485 26 135.341 25.944 135.221 25.832C135.109 25.712 135.053 25.564 135.053 25.388V24.524L135.305 24.56C135.305 24.704 135.245 24.864 135.125 25.04C135.013 25.216 134.857 25.388 134.657 25.556C134.457 25.716 134.221 25.852 133.949 25.964C133.677 26.068 133.385 26.12 133.073 26.12C132.521 26.12 132.025 25.98 131.585 25.7C131.145 25.412 130.797 25.02 130.541 24.524C130.285 24.028 130.157 23.464 130.157 22.832C130.157 22.184 130.285 21.616 130.541 21.128C130.797 20.632 131.141 20.244 131.573 19.964C132.013 19.684 132.501 19.544 133.037 19.544C133.381 19.544 133.697 19.6 133.985 19.712C134.281 19.824 134.537 19.968 134.753 20.144C134.969 20.32 135.133 20.508 135.245 20.708C135.365 20.9 135.425 21.084 135.425 21.26L135.053 21.296V20.204C135.053 20.036 135.109 19.892 135.221 19.772C135.341 19.652 135.485 19.592 135.653 19.592ZM133.205 25.016C133.581 25.016 133.913 24.92 134.201 24.728C134.489 24.536 134.713 24.276 134.873 23.948C135.033 23.612 135.113 23.24 135.113 22.832C135.113 22.416 135.033 22.044 134.873 21.716C134.713 21.388 134.489 21.128 134.201 20.936C133.913 20.744 133.581 20.648 133.205 20.648C132.837 20.648 132.509 20.744 132.221 20.936C131.941 21.128 131.717 21.388 131.549 21.716C131.389 22.044 131.309 22.416 131.309 22.832C131.309 23.24 131.389 23.612 131.549 23.948C131.717 24.276 131.941 24.536 132.221 24.728C132.509 24.92 132.837 25.016 133.205 25.016ZM141.186 19.544C141.754 19.544 142.194 19.664 142.506 19.904C142.818 20.136 143.034 20.452 143.154 20.852C143.282 21.244 143.346 21.684 143.346 22.172V25.388C143.346 25.564 143.286 25.712 143.166 25.832C143.054 25.944 142.914 26 142.746 26C142.57 26 142.426 25.944 142.314 25.832C142.202 25.712 142.146 25.564 142.146 25.388V22.184C142.146 21.896 142.106 21.64 142.026 21.416C141.946 21.184 141.806 21 141.606 20.864C141.414 20.72 141.142 20.648 140.79 20.648C140.462 20.648 140.174 20.72 139.926 20.864C139.678 21 139.482 21.184 139.338 21.416C139.202 21.64 139.134 21.896 139.134 22.184V25.388C139.134 25.564 139.074 25.712 138.954 25.832C138.842 25.944 138.702 26 138.534 26C138.358 26 138.214 25.944 138.102 25.832C137.99 25.712 137.934 25.564 137.934 25.388V20.3C137.934 20.124 137.99 19.98 138.102 19.868C138.214 19.748 138.358 19.688 138.534 19.688C138.702 19.688 138.842 19.748 138.954 19.868C139.074 19.98 139.134 20.124 139.134 20.3V20.972L138.918 21.092C138.974 20.916 139.07 20.74 139.206 20.564C139.35 20.38 139.522 20.212 139.722 20.06C139.922 19.9 140.146 19.776 140.394 19.688C140.642 19.592 140.906 19.544 141.186 19.544ZM150.184 19.592C150.36 19.592 150.504 19.652 150.616 19.772C150.728 19.884 150.784 20.028 150.784 20.204V25.388C150.784 25.564 150.728 25.712 150.616 25.832C150.504 25.944 150.36 26 150.184 26C150.016 26 149.872 25.944 149.752 25.832C149.64 25.712 149.584 25.564 149.584 25.388V24.524L149.836 24.56C149.836 24.704 149.776 24.864 149.656 25.04C149.544 25.216 149.388 25.388 149.188 25.556C148.988 25.716 148.752 25.852 148.48 25.964C148.208 26.068 147.916 26.12 147.604 26.12C147.052 26.12 146.556 25.98 146.116 25.7C145.676 25.412 145.328 25.02 145.072 24.524C144.816 24.028 144.688 23.464 144.688 22.832C144.688 22.184 144.816 21.616 145.072 21.128C145.328 20.632 145.672 20.244 146.104 19.964C146.544 19.684 147.032 19.544 147.568 19.544C147.912 19.544 148.228 19.6 148.516 19.712C148.812 19.824 149.068 19.968 149.284 20.144C149.5 20.32 149.664 20.508 149.776 20.708C149.896 20.9 149.956 21.084 149.956 21.26L149.584 21.296V20.204C149.584 20.036 149.64 19.892 149.752 19.772C149.872 19.652 150.016 19.592 150.184 19.592ZM147.736 25.016C148.112 25.016 148.444 24.92 148.732 24.728C149.02 24.536 149.244 24.276 149.404 23.948C149.564 23.612 149.644 23.24 149.644 22.832C149.644 22.416 149.564 22.044 149.404 21.716C149.244 21.388 149.02 21.128 148.732 20.936C148.444 20.744 148.112 20.648 147.736 20.648C147.368 20.648 147.04 20.744 146.752 20.936C146.472 21.128 146.248 21.388 146.08 21.716C145.92 22.044 145.84 22.416 145.84 22.832C145.84 23.24 145.92 23.612 146.08 23.948C146.248 24.276 146.472 24.536 146.752 24.728C147.04 24.92 147.368 25.016 147.736 25.016ZM155.093 19.544C155.437 19.544 155.753 19.6 156.041 19.712C156.329 19.824 156.577 19.968 156.785 20.144C157.001 20.312 157.169 20.488 157.289 20.672C157.409 20.856 157.469 21.016 157.469 21.152L157.193 21.164V20.204C157.193 20.036 157.249 19.892 157.361 19.772C157.473 19.652 157.617 19.592 157.793 19.592C157.969 19.592 158.113 19.652 158.225 19.772C158.337 19.884 158.393 20.028 158.393 20.204V25.496C158.393 26.176 158.249 26.728 157.961 27.152C157.673 27.584 157.289 27.9 156.809 28.1C156.337 28.3 155.817 28.4 155.249 28.4C155.049 28.4 154.813 28.372 154.541 28.316C154.269 28.268 154.017 28.208 153.785 28.136C153.561 28.064 153.405 27.992 153.317 27.92C153.133 27.824 153.009 27.712 152.945 27.584C152.889 27.456 152.889 27.328 152.945 27.2C153.025 27.024 153.133 26.916 153.269 26.876C153.405 26.836 153.561 26.848 153.737 26.912C153.817 26.936 153.941 26.98 154.109 27.044C154.277 27.108 154.465 27.164 154.673 27.212C154.881 27.268 155.077 27.296 155.261 27.296C155.901 27.296 156.381 27.148 156.701 26.852C157.029 26.556 157.193 26.152 157.193 25.64V24.56L157.325 24.644C157.301 24.812 157.225 24.984 157.097 25.16C156.977 25.328 156.817 25.484 156.617 25.628C156.417 25.772 156.185 25.892 155.921 25.988C155.665 26.076 155.401 26.12 155.129 26.12C154.561 26.12 154.053 25.98 153.605 25.7C153.157 25.412 152.801 25.024 152.537 24.536C152.273 24.04 152.141 23.472 152.141 22.832C152.141 22.192 152.273 21.628 152.537 21.14C152.801 20.644 153.153 20.256 153.593 19.976C154.041 19.688 154.541 19.544 155.093 19.544ZM155.273 20.648C154.881 20.648 154.537 20.744 154.241 20.936C153.945 21.128 153.713 21.388 153.545 21.716C153.377 22.044 153.293 22.416 153.293 22.832C153.293 23.248 153.377 23.62 153.545 23.948C153.713 24.276 153.945 24.536 154.241 24.728C154.537 24.92 154.881 25.016 155.273 25.016C155.665 25.016 156.009 24.924 156.305 24.74C156.601 24.548 156.833 24.288 157.001 23.96C157.169 23.624 157.253 23.248 157.253 22.832C157.253 22.416 157.169 22.044 157.001 21.716C156.833 21.38 156.601 21.12 156.305 20.936C156.009 20.744 155.665 20.648 155.273 20.648ZM162.764 26.12C162.1 26.12 161.524 25.984 161.036 25.712C160.548 25.432 160.168 25.052 159.896 24.572C159.632 24.084 159.5 23.528 159.5 22.904C159.5 22.2 159.64 21.6 159.92 21.104C160.208 20.6 160.58 20.216 161.036 19.952C161.492 19.68 161.976 19.544 162.488 19.544C162.88 19.544 163.252 19.624 163.604 19.784C163.956 19.936 164.268 20.152 164.54 20.432C164.82 20.704 165.04 21.028 165.2 21.404C165.36 21.772 165.444 22.176 165.452 22.616C165.444 22.776 165.38 22.908 165.26 23.012C165.14 23.116 165 23.168 164.84 23.168H160.172L159.884 22.148H164.396L164.168 22.364V22.064C164.152 21.784 164.06 21.54 163.892 21.332C163.724 21.116 163.516 20.952 163.268 20.84C163.02 20.72 162.76 20.66 162.488 20.66C162.248 20.66 162.016 20.7 161.792 20.78C161.576 20.852 161.38 20.972 161.204 21.14C161.036 21.308 160.9 21.532 160.796 21.812C160.7 22.084 160.652 22.424 160.652 22.832C160.652 23.272 160.744 23.656 160.928 23.984C161.112 24.312 161.36 24.568 161.672 24.752C161.984 24.928 162.328 25.016 162.704 25.016C163 25.016 163.244 24.988 163.436 24.932C163.628 24.868 163.788 24.792 163.916 24.704C164.044 24.616 164.156 24.532 164.252 24.452C164.372 24.38 164.492 24.344 164.612 24.344C164.756 24.344 164.876 24.396 164.972 24.5C165.068 24.596 165.116 24.712 165.116 24.848C165.116 25.024 165.028 25.184 164.852 25.328C164.636 25.536 164.336 25.72 163.952 25.88C163.576 26.04 163.18 26.12 162.764 26.12ZM167.409 26C167.233 26 167.089 25.944 166.977 25.832C166.865 25.712 166.809 25.564 166.809 25.388V20.3C166.809 20.124 166.865 19.98 166.977 19.868C167.089 19.748 167.233 19.688 167.409 19.688C167.577 19.688 167.717 19.748 167.829 19.868C167.949 19.98 168.009 20.124 168.009 20.3V21.644L167.889 21.128C167.953 20.904 168.049 20.696 168.177 20.504C168.313 20.312 168.473 20.144 168.657 20C168.841 19.856 169.045 19.744 169.269 19.664C169.501 19.584 169.741 19.544 169.989 19.544C170.197 19.544 170.377 19.6 170.529 19.712C170.681 19.824 170.757 19.964 170.757 20.132C170.757 20.348 170.701 20.508 170.589 20.612C170.477 20.708 170.353 20.756 170.217 20.756C170.097 20.756 169.981 20.732 169.869 20.684C169.757 20.628 169.625 20.6 169.473 20.6C169.305 20.6 169.133 20.644 168.957 20.732C168.781 20.82 168.621 20.952 168.477 21.128C168.333 21.296 168.217 21.496 168.129 21.728C168.049 21.96 168.009 22.22 168.009 22.508V25.388C168.009 25.564 167.949 25.712 167.829 25.832C167.717 25.944 167.577 26 167.409 26Z"
            fill="#CBCBCB" />
          <defs>
            <filter id="filter0_d_1_32" x="27" y="26" width="29" height="13" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="3" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_32" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_32" result="shape" />
            </filter>
            <filter id="filter1_d_1_32" x="6" y="15" width="44" height="13" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="3" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_32" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_32" result="shape" />
            </filter>
            <filter id="filter2_d_1_32" x="0" y="3" width="29" height="13" filterUnits="userSpaceOnUse"
              color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                result="hardAlpha" />
              <feOffset dy="3" />
              <feGaussianBlur stdDeviation="2" />
              <feComposite in2="hardAlpha" operator="out" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1_32" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1_32" result="shape" />
            </filter>
          </defs>
        </svg>
      </div>
      <div class="navigation-options-wrapper">
        <div class="navigation-views-section">
          <transition-group>
            <div ref="navigation_views_options" class="navigation-option"
              v-for="(option, i) in navigation_view_options_items" @click="option.callback()" :key="i">
              <div v-if="option.icon" :class="'icon'">
                <Svg-Icon :color="get_icon_color(option.route)" type="mdi" :path="option.icon"></Svg-Icon>
              </div>
              <span :class="'title ' + get_title_classList(option.route)">{{
              option.title
              }}</span>
            </div>
          </transition-group>
          <div ref="active_navigation_view_option" class="navigation-views-options-indicator"></div>
        </div>
      </div>
    </div>
  </div>
</template>
  
<script>
import { defineComponent } from "vue";
import { mdiHomeAnalytics, mdiTuneVariant, mdiClose, mdiArrowLeft } from "@mdi/js";
export default defineComponent({
  computed: {},
  data() {
    return {
      mdiClose,
      mdiArrowLeft,
      collapsed: true,
      navigation_view_options_items: [
        {
          title: "Übersicht",
          route: "/home",
          icon: mdiHomeAnalytics,
          callback: () => {
            this.$router.push("/home");
            this.collapse_navigation();
          },
        },
        {
          title: "Einstellungen",
          route: "/settings",
          icon: mdiTuneVariant,
          callback: () => {
            this.$router.push("/settings");
            this.collapse_navigation();
          },
        },
      ],
      navigation_transactions_options_items: [
        {
          title: "Umsatz eintragen",
          classList: "navigation-option navigation-transactions-option",
          icon: "mdi-swap-horizontal",

          sub_options: [{ title: "Ausgabe" }, { title: "Eintrag" }],
          callback: () =>
            this.$refs.navigation_transaction_options.$el.classList.toggle(
              "choose-transaction-type-visible"
            ),
        },
      ],
      active_navigation_view_option: 0,
      last_navigation_views_option_element: HTMLElement,
    };
  },
  watch: {
    active_navigation_view_option: {
      // immediate: true,
      handler(n, o) {
        const old_option = this.$refs.navigation_views_options[o];
        const new_option = this.$refs.navigation_views_options[n];
        old_option.classList.remove("active-option");
        new_option.classList.add("active-option");
        console.log(old_option);
        console.log(new_option);
      },
    },
  },
  methods: {
    get_icon_color(route) {
      return this.$route.path == route ? "#11998e" : " rgb(167, 167, 167)";
    },
    get_title_classList(route) {
      console.log(this.$route.path == route ? "text-greengradient" : "");
      return this.$route.path == route ? "text-greengradient" : "text-light";
    },
    animate_options() {
      this.$refs.navigation_views_options.forEach((opt) => {
        console.log(opt);
        opt.style.transform = "translateX(0%)";
      });
    },
    collapse_navigation() {
      this.collapsed = !this.collapsed;
      // this.animate_options();
      // this.move_toggle_button();
      this.get_active_navigation_view_option();

      this.$emit("navigationClick");
      this.$refs.navigation_button.classList.toggle(
        "toggle-navigation-button-hidden"
      );
      this.$refs.navigation_main.classList.toggle("collapsed");
      this.$refs.navigation_main.classList.toggle("uncollapsed");
    },
    // transforms toggle button to
    move_toggle_button() {
      const first = this.$refs.menu_icon_rect_first;
      const second = this.$refs.menu_icon_rect_second;
      const third = this.$refs.menu_icon_rect_third;
      console.log(first, second, third);
      first.classList.toggle("menu-icon-rect-first-active");
      second.classList.toggle("menu-icon-rect-second-active");
      third.classList.toggle("menu-icon-rect-third-active");
    },
    // moves the indicator for the active view option in navigation menu
    move_indicator() {
      const option =
        this.$refs.navigation_views_options[this.active_navigation_view_option];

      const option_offset_height = option.offsetHeight;
      const option_offset_top = option.offsetTop;

      const indicator = this.$refs.active_navigation_view_option;

      indicator.style.transform = `translateY(${option_offset_top}px)`;

      indicator.style.height = `${option_offset_height}px`;
    },
    // finds the active view option in navigation menu
    async get_active_navigation_view_option() {
      const active_route = this.$route.path;
      const options = this.navigation_view_options_items;
      options.forEach((item, index) => {
        const item_route = item.route;

        if (item_route == active_route) {
          this.active_navigation_view_option = index;
          return index;
        }
      });
      this.move_indicator();
    },
  },
  mounted() {
    this.get_active_navigation_view_option();
    // this.move_indicator();
  },
});
</script>


<style scoped>
.navigation-main {
  position: fixed;
  height: 100vh;
  width: 59vw;
  background: rgba(197, 197, 252, 0);
  z-index: 27;
  top: 0;

  transform: translate(-0%-0%);
  transition: transform box-shadow 0.7s;
  display: grid;
  grid-template-rows: 11% 89%;
  gap: 25px;
  grid-template-columns: 100%;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

.collapsed {
  transform: translate(100vw, 0);
  transition: transform 0.7s;
  box-shadow: rgba(149, 157, 165, 0) 0px 8px 24px;
}

.uncollapsed {
  transform: translateX(45vw);
  transition: transform 0.7s;
  /* box-shadow: rgba(149, 157, 165, 0.25) 0px 8px 24px; */
}

.toggle-navigation-button {
  position: fixed;
  background: transparent;
  height: 35px;
  height: 35px;
  top: 1.5%;
  right: 3vw;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: all 0.7s;
  will-change: transform;
}

.toggle-navigation-button-hidden {
  transform: translateX(-79vw);
  /* pointer-events: none; */
}

.navigation-header {
  position: relative;
  width: 100%;
  height: 100%;
  /* box-shadow: rgba(255, 255, 255, 0.25) 0px 0px 24px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0%;
}

.navigation-options-wrapper {
  margin-top: 11%;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

  gap: 3%;
  padding: 0 5%;
  align-items: center;
}

.navigation-views-section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.navigation-option {
  position: relative;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 7%;

  background: transparent;
  border-radius: 15px;
  /* transform: translateX(-50%); */
  transition-delay: 5s;
  transition: all 0.3s;
  color: rgb(0, 0, 0);
  column-gap: 5%;
}

.navigation-transactions-option {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.active-option {
  /* color: var(--active-blue); */
  text-shadow: 0 0 3px rgba(44, 41, 211, 0.149);
  font-weight: bold;
}

.navigation-views-options-indicator {
  position: absolute;
  width: 95%;
  height: 0;
  background: var(--bg-purple);
  box-shadow: var(--shadow-purple);
  border-radius: 15px;
  z-index: -1;
  justify-self: center;
  transform: translateY(0);
  transition: height 0.5s, transform 0.5s;
  will-change: transform;
}

.navigation-transaction-options-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  gap: 11px;
  align-self: center;
  justify-self: center;
}

.sub-option {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  border-radius: 15px;
  align-items: center;
  padding-left: 5%;
}

.sub-option-expenditure {
  background: var(--bg-purple);
  box-shadow: var(--shadow-purple);
}

.sub-option-revenue {
  background: var(--bg-greengradient);
  box-shadow: var(--shadow-purple);
}

svg {
  overflow: visible;
}

.menu-icon-rect {
  transform: translate(0, 0) translateX(0) rotate(0deg);
  transition: transform cubic-bezier(0.08, -0.55, 0.05, 0.95) 0.7s, opacity 0.3s;
  will-change: transform;
  color: white;
}

.menu-icon-rect-first-active {
  position: relative;
  transform: translateX(171vw) rotate(135deg);
  fill: grey;
  width: 75%;
}

.menu-icon-rect-second-active {
  position: relative;
  transform: translate(169vw, 8.9vh) rotate(-135deg);
  fill: grey;
  width: 75%;
}

.menu-icon-rect-third-active {
  opacity: 0;
}

.vector {
  position: absolute;
  top: 75%;
  right: 0%;
  transform: scale(0.7);
}
</style>
