<template>

     <!-- <span class="vbadge-after card-radius-light">{{title}}</span>  -->
     <span
          class="vbadge card-radius-light bg-purple-gradient shadow ">{{title}}</span>
</template>
<script lang="ts" setup>
import { defineProps,withDefaults } from 'vue'

export interface Props{
     title?:string
}
const props = withDefaults(defineProps<Props>(), {title:'empty'})

</script>

<style scoped>
.vbadge-after {
     content: '';
     position: absolute;
     width: max-content;
     height: 1.9em;
     background: white;
     right: -0.03em;
     top: -0.2em;
     /* z-index: -1; */
}

.vbadge {
     position: absolute;
     right: -0.23em;
     top: -0.2em;
     width: fit-content;
     height: 1.9em;
     /* background: white; */
     text-align: center;
     padding: 0.3em;
     right: 0;
     font-size: small;


}
</style>
