<template>
  <div ref="v_button" :class="`button-wrapper flex justify-content-${props.justify} align-items-${props.align}`">
    <button :class="`button relative card-radius-light shadow-filter ${buttonBackgroundClass}`">
      <div v-if="title"> {{title}}</div>
      <div v-else>
        <slot></slot>
      </div>
    </button>
  </div>
</template>


<script lang="ts" setup>
import {
  defineProps,
  defineEmits,
  withDefaults,
  ref,
  Ref,
  onMounted,
} from "vue";
export interface Props {
  title?: string;
  type?: string;
  align?: string;
  justify?: string;
}
const emit = defineEmits(["buttonTouched"]);
const props = withDefaults(defineProps<Props>(), {
  title: "",
  type: "filled",
  align: "center",
  justify: "center",
});
const v_button: Ref = ref<HTMLButtonElement>();

const handleButtonTouchStart = (event: TouchEvent) => {
  emit("buttonTouched", event);
  (event.target as HTMLButtonElement).classList.add("touched");
};

const handleButtonTouchEnd = (event: TouchEvent) =>
  (event.target as HTMLButtonElement).classList.remove("touched");

console.log(v_button);

onMounted(() => {
  (v_button.value as HTMLButtonElement).addEventListener(
    "touchstart",
    handleButtonTouchStart,
    { passive: true }
  );
  (v_button.value as HTMLButtonElement).addEventListener(
    "touchend",
    handleButtonTouchEnd,
    { passive: true }
  );
});

const buttonBackgroundClass =
  props.type == "filled" ? "bg-greengradient" : "text-greengradient";
</script>

<style scoped>
.button {
  width: fit-content;
  padding:1em 3em;
  transition: all 0.1s ease-in-out;
}

.touched {
  scale: 0.9;
}
</style>
