<template>
  <div class="double-button-wrapper relativec width-full">
    <V-Button @button-touched="(event) => cancel(event)" type="text" :title="cancelTitle">{{cancelTitle}}</V-Button>
    <V-Button @button-touched="(event) => submit(event)" :title="submitTitle"></V-Button>
  </div>
</template>
<script lang="ts" setup>
import { defineEmits, defineProps, withDefaults } from "vue";

export interface Props {
  cancelTitle?: string,
  submitTitle?: string
}
const props = withDefaults(defineProps<Props>(), { cancelTitle: 'cancel', submitTitle: 'save' })

const emit = defineEmits(["cancel", "submit-button"]);

const cancel = (event: TouchEvent) => emit("cancel", event);
const submit = (event: TouchEvent) => emit("submit-button", event);
</script>
<style scoped>
.double-button-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  justify-content: center;
}
</style>
