<template>
     <div class="hoverable" ref="hover_event_element">
          <slot></slot>
     </div>
</template>


<script lang="ts" setup>
import { ref, Ref, onMounted } from 'vue'
const hover_event_element: Ref = ref<HTMLElement>();

const handleTouchStart = (event: TouchEvent) => {
     console.log(event);
     (event.target as HTMLElement).classList.add("touched");
     console.log(  (event.target as HTMLElement).classList)
};

const handleTouchEnd = (event: TouchEvent) =>
     (event.target as HTMLElement).classList.remove("touched");

console.log(hover_event_element);

onMounted(() => {
     (hover_event_element.value as HTMLElement).addEventListener(
          "touchstart",
          handleTouchStart,
          { passive: true }
     );
     (hover_event_element.value as HTMLElement).addEventListener(
          "touchend",
          handleTouchEnd,
          { passive: true }
     );
});
</script>

<style scoped>
.hoverable {
     transition: all 0.1s ease-in-out;
     scale: 1;
}

.touched {
     scale: 0.9;
}
</style>
