<template>
  <input
    @input="($e) => updateInput($e)"
    ref="v_input"
    class="input glow relative width-full card-radius"
    type="text"
  />
</template>


<script lang="ts" setup>
import { onMounted, ref, Ref, watch, defineProps, defineEmits } from "vue";
const v_input: Ref = ref<HTMLInputElement>();

export interface Props {
  modelValue: number | string;
}
const props = defineProps<Props>();
const emit = defineEmits(["update:modelValue"]);

let input_value: Ref = ref(0);

function updateInput(e: Event) {
  input_value.value = (e.target as HTMLInputElement).value;
  emit("update:modelValue", (e.target as HTMLInputElement).value);
}

onMounted(() => {
  const input = v_input.value as HTMLInputElement;
  console.log(input.type);
});
</script>

<style scoped>
.input {
  outline: var(--turkis) !important;
  border-radius: var(--card-radius-light);
  border: 2px solid #11998e;
}
.input:focus {
  /* outline: none !important; */

  box-shadow: 0 0 5px var(--turkis-light);
}
</style>
