<template>
  <div :style="{
    width:width,
  height:height}" :classes="classes" @click="log" class="hidden">
    <slot></slot>
  </div>
</template>

<script >
import { defineComponent } from "vue";
export default defineComponent({
  props: {
    threshold: { default: 1.0 },
    classes: { default: '' },
    height: { default: '100%' },
    width: { default: '100%' },
  },
  data() {
    return { observer: null };
  },
  beforeUnmount() {
    this.$observer.unobserve(this.$el);
  },
  created() {
    if (!this.$observer) {
      this.$observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entrie) => {
            if (entrie.isIntersecting) {
              entrie.target.classList.add("show");
              console.log(entrie);
            } else {
              console.log("not intersecting");
              entrie.target.classList.remove("show");
            }
          });
        },
        {
          threshold: 0.41,
        }
      );
    }
  },
  mounted() {
    console.log(this.$el);

    this.$observer.observe(this.$el);
  },

  methods: {
    log(value) {
      console.log(value);
    },
    on_element_observed(entries) {
      entries.forEach((entrie) => {
        if (entrie.isIntersecting) {
          entrie.target.classList.add("show");
          console.log(entrie);
        } else {
          console.log("not intersecting");
          entrie.target.classList.remove("show");
        }
      });
    },
  },
});
</script>

<style scoped>
.hidden {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}
</style>
