<template>
  <The-Navigation @navigation-click="handle_navigation_collapse()"></The-Navigation>
  <ion-app ref="ion_app" class="ion-app card">
    <div class="app_content relative full ">
      <div class="content-header relative font-xlarge text-greengradient card-radius-light shadow-filter">
        <span>{{ $route.name }}</span>
      </div>
      <router-view v-slot="{ Component }">

        <transition>
          <component :is="Component" />
        </transition>
      </router-view>
    </div>
  </ion-app>
</template>

<script lang="ts">
import { IonApp, IonRouterOutlet } from "@ionic/vue";
import { ComponentPublicInstance } from "vue";
import { defineComponent } from "vue";

export default defineComponent({
  name: "App",
  components: {
    IonApp,
    IonRouterOutlet,
  },

  methods: {
    handle_navigation_collapse() {
      (this.$refs.ion_app as ComponentPublicInstance).$el.classList.toggle(
        "ion-app-navigation-collapsed"
      );
    },
  },
});
</script>

<style >
:root {
  --bg-greengradient: linear-gradient(to right, #11998e, #38ef7d);
  --bg-greengradient-bottom: linear-gradient(to bottom, #11998e, #38ef7d);
  --redblue-gradient: linear-gradient(to right, #b92b27, #da38ef);
  --purple-gradient: linear-gradient(to right, #8e2de2, #4a00e0);
  --turkis: #11998e;
  --turkis-light: #11998e94;
  --red-gradient: linear-gradient(to right, #ef3b36, #632a2a);
  --shadow-greengradient: 0 5px 35px #11998e;
  --filter-shadow: ;
  --shadow-offset-17: rgba(0, 0, 0, 0.21) 0px 17px 50px -10px;
  --shadow: rgba(0, 0, 0, 0.21) 0px 0px 50px -10px;
  --shadow-darker: rgba(149, 157, 165, 0.35) 0px 5px 24px;
  --card-radius: 15px;
  --card-radius-light: 5px;

  /* text variables*/
  --grey-light: rgb(167, 167, 167);
}

body {
  /* background: #f5f6f9 !important; */
}

.ion-app {
  transform: translate(0vw, 0vw);
  scale: 1;
  transition: all 0.7s ease;
  display: flex;
  padding-top: 9%;
  /* background:rgb(204, 204, 204); */
}

.content-header {
  position: absolute;
  bottom: 2.5%;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.ion-app-navigation-collapsed {
  transform: translateX(-61vw);
  animation: collapse-app 0.7s;
  transition: all 0.7s ease;
  scale: 0.85;
  pointer-events: none;
}

.divider-row {
  content: ' ';
  width: 3px;
  background: var(--redblue-gradient);
}

.divider-row::after {
  position: absolute;
  background: inherit;
  content: "";
  width: 3px;
  height: 35px;
  top: 27px;
  left: 50%;
  opacity: 0.61;
  filter: blur(5px);

  z-index: -1;
}

/* @keyframes collapse-app {
  from {
    transform: translateX(0%);
    scale: 1;
  }
  to {
    transform: translateX(59vw);
    scale: 0.7;
  }
} */

/*  standart transitions */

.v-leave-active {
  transition: transform 0.5s ease-in, opacity 0.5s;
  transition-delay: calc(0.1s * var(--i));
}

.v-enter-active {
  transition: transform 0.5s ease-out, opacity 0.5s;
  transition-delay: calc(0.1s * var(--i));
}

.v-leave-from {
  transform: translateX(-0%);
  opacity: 1;
}

.v-enter-from {
  opacity: 0;
  transform: translateX(51%);
}

.v-enter-to {
  transform: translateX(0%);
  opacity: 1;
}

.v-enter,
.v-leave-to {
  opacity: 0;
  transform: translateX(-51%);
}

.fade-leave-active {
  transition: opacity 0.3s ease-out;
  transition-delay: calc(0.1s * var(--i));
}

.fade-enter-active {
  transition: opacity 0.7s ease-in;
  transition-delay: calc(0.1s * var(--i));
}

.fade-leave-from {
  /* transform: translateX(-0%); */
  opacity: 1;
}

.fade-enter-from {
  opacity: 0;
  /* transform: translateX(51%); */
}

.fade-enter-to {
  /* transform: translateX(0%); */
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  /* transform: translateX(-51%); */
}

.font-xxlarge {
  font-size: xx-large !important;
}

.font-xlarge {
  font-size: x-large !important;
}

.font-larger {
  font-size: larger !important;
}

.font-large {
  font-size: large !important;
}

.font-medium {
  font-size: medium !important;
}

.font-large {
  font-size: small !important;
}

.font-smaller {
  font-size: smaller !important;
}

.gap-15 {
  gap: 15px
}
.gap-25 {
  gap: 25px
}
.gap-35 {
  gap: 35px
}



/* .list-item ::before {
  content: "";
  position: absolute;

  left: 0;
  top: -100%;
  background: grey;
  width: 100%;
  height: 1px;
} */
.list-item-icon {
  display: flex;
  justify-content: center;
}

.list-item-text {
  display: flex;
  justify-content: center;
}


.flex {
  display: flex;
}

.flex-direction-colum {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}
.align-self-end{
  align-self:flex-end
}
.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.box-shadow {
  box-shadow: var(--shadow);
}

.box-shadow-darker {
  box-shadow: var(--shadow-darker);
}

.text-light {
  color: var(--grey-light);
}

.card-shadow-offset-17 {
  box-shadow: var(--shadow-offset-17);
  border-radius: var(--card-radius);
}
.card{
  box-shadow: var(--shadow);
  border-radius: var(--card-radius);
}
.overflow-y{
  overflow-y: scroll;
}
.glas-card {
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.card-radius {
  border-radius: var(--card-radius);
}

.card-radius-light {
  border-radius: var(--card-radius-light);
}

.bg-greengradient {
  background: var(--bg-greengradient);
}
.bg-rb-gradient{
  background: var(--redblue-gradient);
}
.bg-purple-gradient{
  background: var(--purple-gradient);
}

.text-greengradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--bg-greengradient);
}

.text-redgradient {
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: var(--red-gradient);
}

.relative {
  position: relative;
}

.shadow-filter::after {
  position: absolute;
  background: inherit;
  content: "";
  width: 100%;
  height: 100%;
  top: 13%;
  left: 0.3em;
  opacity: 0.51;
  filter: blur(11px);

  z-index: -1;
}

.width-full {
  width: 100%;
}
.width-content{
  width:fit-content
}

.height-full {
  height: 100%;
}

.full {
  width: 100%;
  height: 100%;
}
</style>
